/* * {
    outline: 1px red dashed;
} */

:root {
    --bg1: #0a0a23;
    --bg2: #1b1b32;
    --bg4: #3b3b4f;
    --text1: #ffffff;
    --text2: #f5f6f7;
    --bug: #dbb8ff;
}

html {
    font-size: 10px;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

body {
    background-color: var(--bg1);
    color: var(--text1);
}

#game-board {
    margin: auto 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem;
    gap: 1rem;
}
  
.hole {
    width: 150px;
    height: 150px;
    background-color: var(--bg4);
    border: 1px solid #f1be32;
    border-radius: 25%;
    cursor: pointer;
}

.mole {
    background-color: var(--bug);
}
  
#score,
#timer {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}
  
#score-value,
#timer-value {
    font-weight: bold;
}