* {
    /* outline: 1px red dashed; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg1: #0a0a23;
    --bg2: #1b1b32;
    --bg4: #3b3b4f;
    --text1: #ffffff;
    --text2: #f5f6f7;
    --bug: #dbb8ff;
}

html {
    font-size: 10px;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

body {
    background-color: var(--bg1);
    color: var(--text1);
}

#headerbox {
    padding: 0.5rem;
    background-color: var(--bg4);
}

#header {
    margin: 1rem 1rem;
    font-size: 4rem;
}

#description {
    font-size: 3rem;
    margin-top: 1rem;
    margin-left: 4rem;
}

.ui {
    text-align: center;
    font-size: 1.8rem;
    margin-top: 20px;
}

#level {
    border-bottom: 1px solid var(--text1);
    padding-bottom: 0.5rem;
    font-size: 4rem;
}

#game-area {
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    /* outline: 1px dashed purple; */
    width: 100rem;
    /* margin: auto 2rem; */
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: space-evenly;
    padding: 10rem;
    gap:20rem;
}
  
.hole {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: var(--bg4);
    border: 1px solid #f1be32;
    border-radius: 25%;
    cursor: pointer;
}

/* .mole {
    background-color: var(--bug);
} */

#score-value,
#timer-value {
    font-weight: bold;
}

#buttonbox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

.gamebutton {
    /* margin: auto; */
    padding: 10px 20px;
    border-radius: 10%;
    background-color: #00471b;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}

.hidden {
    display: none;
}